* section:not(:last-child) {
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  * section:not(:last-child) {
    margin-bottom: 30px;
  }
}

.footer__copyright, .footer__contacts__igNmail a, .footer__phone, .footer__contacts p, .footer__contacts h2, .footer__work__hours p, .footer__work__hours h3, .footer__lang a, .footer__nav a, #appointment__button__signUp, #user__phone, #user__name, .appointment__info p, .appointment__info h2, .main__attention p, .main__providedServices__block p, .main__providedServices__block h3, .cards__blockdown p, .cards__num__small, .cards__num__big, .section__one__card_txtSmall, .section__one__card_txtBig, .info__box__button__services a, .info__box__button__call a, .info__box__about, .info__box__title h2, .header__lang__switch a, .header__lang__switch, .header__phone a, nav div a, .main__providedServices p, .main__txt p, .main__providedServices h2, .main__txt h2 {
  font-family: "Roboto";
  font-style: normal;
}

.main__providedServices h2, .main__txt h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
}
.main__providedServices h2 span, .main__txt h2 span {
  font-weight: 600;
  color: #46B1DE;
}
.main__providedServices p, .main__txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.service__box6, .service__box4, .service__box2, .service__box5, .service__box3, .service__box1 {
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

#main__services__plus6, #main__services__plus5, #main__services__plus4, #main__services__plus3, #main__services__plus2, #main__services__plus1 {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main__services__plus6, #main__services__plus5, #main__services__plus4, #main__services__plus3, #main__services__plus2, #main__services__plus1 {
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url(./fonts/Roboto.woff2) format(woff2), url(./fonts/Roboto.woff) format(woff);
}
* {
  margin: 0;
  box-sizing: border-box;
}

.margin {
  height: 60px;
}

.section__one {
  height: 663px;
  background-image: url(./pictures/section__one.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section__one__lady {
  position: absolute;
  background: transparent;
  height: 463px;
  width: 572px;
  right: 110px;
  bottom: 0;
  z-index: 1;
}

header {
  margin-left: 110px;
  height: 91px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  margin-right: 103px;
}

.header__logo__txtBig {
  padding-left: 7px;
  font-family: "Sofia Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 140%;
  color: #46B1DE;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.header__logo__txtSmall {
  padding-left: 7px;
  font-family: "Sofia Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26.8525px;
  line-height: 140%;
  color: #46B1DE;
}

nav {
  display: flex;
  max-width: 350px;
  margin-top: 18px;
}
nav div {
  margin-right: 80px;
}
nav div a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
nav div a:hover {
  color: #46B1DE;
}

.header__phone {
  display: flex;
  text-align: center;
  margin-top: 18px;
  margin-right: 23px;
  margin-left: 30px;
}
.header__phone a {
  width: 150px;
  height: 19px;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: relative;
}
.header__phone a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 15px;
  height: 15px;
  background-image: url(./pictures/head__phone.svg);
  background-size: contain;
}

.header__lang__switch {
  width: 74px;
  min-width: 74px;
  display: flex;
  margin-top: 17px;
  margin-right: 110px;
  width: 77px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.header__lang__switch a {
  width: 26px;
  height: 23px;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.header__lang__switch a:first-child {
  position: relative;
}
.header__lang__switch a:first-child::after {
  content: "|";
  position: absolute;
  top: -2px;
  right: -15px;
  font-size: 22px;
}

.burger {
  display: none;
}

.info__box {
  margin-top: 34px;
  margin-left: 110px;
  height: 360px;
  width: 530px;
  position: relative;
}

@keyframes moving__info__box__title__up {
  0% {
    top: 156px;
    margin-bottom: 156px;
    height: 0;
    opacity: 0;
  }
  100% {
    top: 0;
    margin-bottom: 0;
    height: 156px;
    opacity: 1;
  }
}
.info__box__title {
  position: absolute;
  animation-name: moving__info__box__title__up;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.info__box__title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.1em;
}
.info__box__title h2 span {
  color: #46B1DE;
}

@keyframes moving__info__box__about__up {
  0% {
    top: 242px;
    margin-bottom: 66px;
    height: 0;
    opacity: 0;
  }
  100% {
    top: 186px;
    margin-bottom: 0;
    height: 66px;
    opacity: 1;
  }
}
.info__box__about {
  position: relative;
  margin-top: 30px;
  width: 464px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  animation-name: moving__info__box__about__up;
  opacity: 0;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes moving__info__box__buttons__up {
  0% {
    top: 350px;
    height: 0;
    opacity: 0;
  }
  100% {
    top: 290px;
    height: 60px;
    opacity: 1;
  }
}
.info__box__buttons {
  position: absolute;
  width: 480px;
  display: flex;
  justify-content: space-between;
  animation-name: moving__info__box__buttons__up;
  opacity: 0;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.info__box__button__call {
  width: 180px;
  height: 60px;
  background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
  box-shadow: 0px 2px 10px #46B1DE;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.info__box__button__call a {
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  line-height: 27px;
  color: #ffffff;
}

.info__box__button__services {
  width: 180px;
  height: 60px;
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #DDE0DC;
  box-shadow: 0px 2px 10px #DDE0DC;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.info__box__button__services a {
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  line-height: 27px;
  color: #46B1DE;
}

@keyframes moving__section__one__cardsBlock__To__right {
  0% {
    right: 100%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
.section__one__cardsBlock {
  position: relative;
  width: auto;
  margin: 54px 210px 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  opacity: 0;
  animation-name: moving__section__one__cardsBlock__To__right;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.section__one__card {
  width: 280px;
  height: 120px;
  background: #ffffff;
  border: 1px solid #D8E1E1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
}

.section__one__card_txtBig {
  margin: 0 10px;
  font-weight: 400;
  font-size: 65px;
  line-height: 76px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #46B1DE;
}

.section__one__card_txtSmall {
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1B1D1F;
  display: flex;
  align-items: center;
}

.main__txt {
  margin-top: 150px;
}
.main__txt p {
  text-align: center;
}

.cards {
  margin: 50px auto 0;
  max-width: 1020px;
  width: auto;
  height: auto;
  background: #A1C7D4;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards__blockS {
  height: 364px;
  width: 300px;
  margin: 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cards__block {
  width: 300px;
  height: 176px;
  background: #ffffff;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 5px;
}

.cards__blockup {
  height: 70px;
  display: flex;
}

.cards__num__big {
  width: 65px;
  height: 56px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;
  color: #46B1DE;
}

.cards__num__small {
  margin-top: 12px;
  height: 38px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #46B1DE;
  display: flex;
  align-items: center;
}

.cards__blockdown {
  height: 130px;
}
.cards__blockdown p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.main__providedServices {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 500px;
  width: 1050px;
}

#main__services__tooth {
  padding: 60px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid #000000;
  border-radius: 50%;
}

@keyframes main__services__plus1__anim {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 25%;
    left: 39%;
  }
}
#main__services__plus1 {
  animation-name: main__services__plus1__anim;
}

@keyframes main__services__plus2__anim {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 25%;
    left: 61%;
  }
}
#main__services__plus2 {
  animation-name: main__services__plus2__anim;
}

@keyframes main__services__plus3__anim {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 33.3%;
  }
}
#main__services__plus3 {
  animation-name: main__services__plus3__anim;
}

@keyframes main__services__plus4__anim {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 66.7%;
  }
}
#main__services__plus4 {
  animation-name: main__services__plus4__anim;
}

@keyframes main__services__plus5__anim {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 72%;
    left: 38%;
  }
}
#main__services__plus5 {
  animation-name: main__services__plus5__anim;
}

@keyframes main__services__plus6__anim {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 72%;
    left: 62%;
  }
}
#main__services__plus6 {
  animation-name: main__services__plus6__anim;
}

.main__providedServices__block {
  margin: 55px auto 0 auto;
  width: 1050px;
  height: 400px;
  position: relative;
}
.main__providedServices__block div {
  margin-bottom: 40px;
}
.main__providedServices__block h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #46B1DE;
}
.main__providedServices__block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@keyframes service__box1__anim {
  0% {
    top: -20%;
    left: -21%;
    opacity: 0;
  }
  100% {
    top: 0%;
    left: -1%;
    opacity: 1;
  }
}
.service__box1 {
  position: absolute;
  text-align: end;
  width: 330px;
  opacity: 0;
  transform: translate(30px);
  animation-name: service__box1__anim;
}

@keyframes service__box3__anim {
  0% {
    top: 32%;
    left: -20%;
    opacity: 0;
  }
  100% {
    top: 32%;
    left: 0;
    opacity: 1;
  }
}
.service__box3 {
  position: absolute;
  text-align: end;
  width: 330px;
  opacity: 0;
  animation-name: service__box3__anim;
}

@keyframes service__box5__anim {
  0% {
    top: 85%;
    left: -14%;
    opacity: 0;
  }
  100% {
    top: 65%;
    left: 4%;
    opacity: 1;
  }
}
.service__box5 {
  position: absolute;
  text-align: end;
  width: 330px;
  opacity: 0;
  animation-name: service__box5__anim;
}

@keyframes service__box2__anim {
  0% {
    top: -20%;
    right: -22%;
    opacity: 0;
  }
  100% {
    top: 0%;
    right: 2%;
    opacity: 1;
  }
}
.service__box2 {
  position: absolute;
  width: 330px;
  opacity: 0;
  animation-name: service__box2__anim;
}

@keyframes service__box4__anim {
  0% {
    top: 32%;
    right: -20%;
    opacity: 0;
  }
  100% {
    top: 32%;
    right: 0;
    opacity: 1;
  }
}
.service__box4 {
  position: absolute;
  width: 330px;
  opacity: 0;
  animation-name: service__box4__anim;
}

@keyframes service__box6__anim {
  0% {
    top: 85%;
    right: -14%;
    opacity: 0;
  }
  100% {
    top: 65%;
    right: 4%;
    opacity: 1;
  }
}
.service__box6 {
  position: absolute;
  width: 330px;
  opacity: 0;
  animation-name: service__box6__anim;
}

.main__attention {
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin: 30px auto 0;
}
.main__attention img {
  height: 103px;
  width: 105px;
}
.main__attention p {
  margin-top: 50px;
  margin-left: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #46B1DE;
}

.menu__appointment_outer {
  margin: 87px auto 0;
  width: 845px;
  height: 265px;
  background: #ffffff;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
}

#create__appointment {
  margin: 10px 9px 8px 15px;
  width: 821px;
  height: 247px;
  background: #ffffff;
  border: 1px solid #D9D9D9;
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.appointment__info {
  margin-top: 29px;
  text-align: center;
}
.appointment__info h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.appointment__info p {
  margin-top: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.appointment__active {
  display: flex;
  margin: 45px 21px 0 18px;
}

.appointment__name {
  position: relative;
  margin-right: 69px;
  width: 233px;
  height: 57px;
  background: rgba(217, 217, 217, 0.71);
  border-radius: 8px;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  display: flex;
  align-items: center;
}
.appointment__name img {
  margin-left: 10px;
  position: absolute;
  top: 15px;
  left: 0;
}

#user__name {
  padding-left: 50px;
  padding-right: 10px;
  width: 233px;
  height: 57px;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
  color: rgba(27, 29, 31, 0.51);
  border: none;
  background-color: transparent;
}
#user__name:focus {
  border: solid #46B1DE;
  border-radius: 8px;
}

.appointment__phoneNum {
  position: relative;
  margin-right: 67px;
  width: 233px;
  height: 57px;
  background: rgba(217, 217, 217, 0.71);
  border-radius: 8px;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  display: flex;
  align-items: center;
}
.appointment__phoneNum img {
  margin-left: 10px;
  position: absolute;
  top: 15px;
  left: 0;
}

#user__phone {
  padding-left: 50px;
  padding-right: 10px;
  width: 233px;
  height: 57px;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
  color: rgba(27, 29, 31, 0.51);
  border: none;
  background-color: transparent;
}
#user__phone:focus {
  border: solid #46B1DE;
  border-radius: 8px;
}

#appointment__button__signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 35px;
  gap: 10px;
  width: 180px;
  height: 57px;
  left: 900px;
  top: 1592px;
  background: #46B1DE;
  border: transparent;
  border-radius: 8px;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}

.block__photo {
  margin: 90px auto 0;
  display: flex;
  justify-content: space-between;
  max-width: 980px;
}

footer {
  margin-top: 91px;
  height: 400px;
  background: linear-gradient(91.75deg, #A1C7D4 18.06%, #0680AA 98.16%);
  display: flex;
  justify-content: space-between;
}

.footer__info {
  margin-left: 113px;
  margin-top: 60px;
  max-width: 700px;
}

.footer__logo {
  display: flex;
}
.footer__logo p {
  margin-left: 7.5px;
}

.footer__logo__textBig {
  width: 310px;
  font-family: "Sofia Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38.7869px;
  line-height: 54px;
  color: #0F2D4A;
}

.footer__logo__textSmall {
  font-family: "Sofia Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26.8525px;
  line-height: 10px;
  color: #0F2D4A;
}

.footer__info__block {
  display: flex;
}

.footer__nav {
  margin-top: 30px;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
}
.footer__nav a {
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #0F2D4A;
}
.footer__nav a:hover {
  color: #ffffff;
}

.footer__lang {
  margin-top: 7px;
  font-size: 22px;
}
.footer__lang a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.footer__lang a:last-child {
  position: relative;
  margin-left: 10px;
}
.footer__lang a:last-child::before {
  content: "|";
  position: absolute;
  top: -2px;
  left: -10px;
  font-size: 22px;
}
.footer__lang a:hover::before {
  color: #0F2D4A;
}

.footer__work__hours {
  margin-top: 67px;
  margin-left: 160px;
}
.footer__work__hours h3 {
  margin-left: 3px;
  margin-right: 3px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #0F2D4A;
}
.footer__work__hours p {
  margin-top: 7px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #0F2D4A;
}

.footer__contacts {
  margin-top: 60px;
  margin-left: 378px;
  margin-right: 174px;
  max-width: 700px;
}
.footer__contacts h2 {
  margin-left: 5px;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  color: #ffffff;
}
.footer__contacts p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}

.footer__phone {
  max-width: 190px;
  margin-top: 15px;
  margin-left: 37px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  position: relative;
}
.footer__phone::before {
  content: "";
  top: 0;
  left: -37px;
  height: 28px;
  width: 28px;
  position: absolute;
  background-image: url(./pictures/footer__contacts__phone.svg);
  background-size: contain;
}
.footer__phone:hover::after {
  content: "________________________________________";
  font-size: 10px;
  top: 10px;
  left: 2px;
  position: absolute;
}

.footer__contacts__messangers {
  margin-top: 10px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.footer__contacts__messangers a {
  text-decoration: none;
}
.footer__contacts__messangers img {
  margin-right: 22px;
}

.footer__contacts__igNmail {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer__contacts__igNmail a {
  margin-top: 13px;
  margin-bottom: 2px;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.footer__contacts__igNmail a:first-child {
  position: relative;
  max-width: 90px;
}
.footer__contacts__igNmail a:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  height: 27px;
  width: 27px;
  background-image: url(./pictures/footer__contacts__ig.svg);
  background-size: contain;
}
.footer__contacts__igNmail a:first-child:hover::after {
  content: "__________________";
  font-size: 10px;
  top: 10px;
  left: 2px;
  position: absolute;
}
.footer__contacts__igNmail a:last-child {
  position: relative;
  max-width: 190px;
}
.footer__contacts__igNmail a:last-child::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -30px;
  height: 28px;
  width: 28px;
  background-image: url(./pictures/footer__contacts__email.svg);
  background-size: contain;
}
.footer__contacts__igNmail a:last-child:hover::after {
  content: "________________________________________";
  font-size: 10px;
  top: 10px;
  left: 2px;
  position: absolute;
}

.footer__copyright {
  margin-top: 12px;
  margin-left: 209px;
  width: 105px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  @keyframes moving__info__box__title__up {
    0% {
      top: 156px;
      margin-bottom: 156px;
      height: 0;
      opacity: 0;
    }
    100% {
      top: 0;
      margin-bottom: 0;
      height: 126px;
      opacity: 1;
    }
  }
  @keyframes moving__info__box__about__up {
    0% {
      top: 166px;
      margin-bottom: 66px;
      height: 0;
      opacity: 0;
    }
    100% {
      top: 100px;
      margin-bottom: 0;
      height: 66px;
      opacity: 1;
    }
  }
  @keyframes moving__info__box__buttons__up {
    0% {
      top: 200px;
      height: 0;
      opacity: 0;
    }
    100% {
      top: 150px;
      height: 60px;
      opacity: 1;
    }
  }
  .margin {
    height: 30px;
  }

  .section__one {
    max-width: 992px;
    height: 510px;
  }

  .section__one__lady {
    height: 332px;
    width: 418px;
    right: 45px;
    bottom: 5px;
  }

  header {
    max-width: 992px;
    min-width: 750px;
    margin-left: 10px;
    margin-right: 10px;
    height: 91px;
  }

  .header__logo {
    margin-right: 15px;
  }
  .header__logo img {
    height: 50px;
  }

  .header__logo__txtBig {
    width: 120px;
    font-size: 14px;
  }

  .header__logo__txtSmall {
    font-size: 12px;
  }

  nav {
    width: auto;
    max-width: 220px;
    margin-top: 10px;
  }
  nav div {
    margin-right: 40px;
  }
  nav div a {
    font-size: 12px;
    line-height: 19px;
  }

  .header__phone {
    max-width: 160px;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 30px;
  }
  .header__phone a {
    font-size: 12px;
    line-height: 19px;
  }
  .header__phone a::before {
    top: 2px;
    left: -16px;
    width: 12px;
    height: 12px;
  }

  .header__lang__switch {
    margin-top: 8px;
    margin-right: 20px;
    width: 40px;
    font-size: 12px;
    line-height: 23px;
  }
  .header__lang__switch a {
    font-size: 12px;
    line-height: 23px;
  }
  .header__lang__switch a:first-child::after {
    top: -1px;
    right: -7px;
    font-size: 15px;
  }

  .info__box {
    margin-top: 4px;
    margin-left: 20px;
    width: 350px;
    max-width: 350px;
  }

  .info__box__title h2 {
    margin-left: 60px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
  }

  .info__box__about {
    margin-top: 10px;
    margin-left: 20px;
    width: 350px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }

  .info__box__buttons {
    margin-top: 48px;
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .info__box__button__call {
    width: 120px;
    height: 45px;
  }
  .info__box__button__call a {
    font-size: 16px;
  }

  .info__box__button__services {
    width: 120px;
    height: 45px;
  }
  .info__box__button__services a {
    font-size: 16px;
  }

  .section__one__cardsBlock {
    margin: -10px 30px 0;
  }

  .section__one__card {
    width: 220px;
    height: 90px;
    z-index: 2;
  }

  .section__one__card_txtBig {
    font-size: 45px;
  }

  .section__one__card_txtSmall {
    font-size: 10px;
  }

  .cards {
    margin: 50px 20px 0;
    max-width: 992px;
  }

  .main__providedServices {
    width: 750px;
  }

  #main__services__tooth {
    height: 170px;
  }

  @keyframes main__services__plus1__anim {
    0% {
      top: 50%;
      left: 50%;
    }
    100% {
      top: 37%;
      left: 43%;
    }
  }
  @keyframes main__services__plus2__anim {
    0% {
      top: 50%;
      left: 50%;
    }
    100% {
      top: 37%;
      left: 57%;
    }
  }
  @keyframes main__services__plus3__anim {
    0% {
      top: 50%;
      left: 50%;
    }
    100% {
      top: 50%;
      left: 38.5%;
    }
  }
  @keyframes main__services__plus4__anim {
    0% {
      top: 50%;
      left: 50%;
    }
    100% {
      top: 50%;
      left: 61.5%;
    }
  }
  @keyframes main__services__plus5__anim {
    0% {
      top: 50%;
      left: 50%;
    }
    100% {
      top: 63%;
      left: 43%;
    }
  }
  @keyframes main__services__plus6__anim {
    0% {
      top: 50%;
      left: 50%;
    }
    100% {
      top: 63%;
      left: 57%;
    }
  }
  .main__providedServices__block {
    width: 750px;
  }
  .main__providedServices__block h3 {
    font-size: 16px;
    line-height: 22px;
  }
  .main__providedServices__block p {
    font-size: 12px;
    line-height: 13px;
  }

  @keyframes service__box1__anim {
    0% {
      top: -16%;
      left: -18%;
      opacity: 0;
    }
    100% {
      top: 4%;
      left: 3%;
      opacity: 1;
    }
  }
  .service__box1 {
    width: 250px;
  }

  @keyframes service__box3__anim {
    0% {
      top: 32%;
      left: -17%;
      opacity: 0;
    }
    100% {
      top: 32%;
      left: 3%;
      opacity: 1;
    }
  }
  .service__box3 {
    width: 250px;
  }

  @keyframes service__box5__anim {
    0% {
      top: 85%;
      left: -14%;
      opacity: 0;
    }
    100% {
      top: 57%;
      left: -2%;
      opacity: 1;
    }
  }
  .service__box5 {
    width: 330px;
  }

  @keyframes service__box2__anim {
    0% {
      top: -20%;
      right: -22%;
      opacity: 0;
    }
    100% {
      top: 4%;
      right: 6%;
      opacity: 1;
    }
  }
  .service__box2 {
    width: 250px;
  }

  @keyframes service__box4__anim {
    0% {
      top: 32%;
      right: -20%;
      opacity: 0;
    }
    100% {
      top: 32%;
      right: 3%;
      opacity: 1;
    }
  }
  .service__box4 {
    width: 250px;
  }

  @keyframes service__box6__anim {
    0% {
      top: 85%;
      right: -14%;
      opacity: 0;
    }
    100% {
      top: 57%;
      right: 8%;
      opacity: 1;
    }
  }
  .service__box6 {
    width: 250px;
  }

  .main__attention img {
    height: 83px;
    width: 84px;
  }
  .main__attention p {
    margin-top: 40px;
    font-size: 18px;
  }

  .menu__appointment_outer {
    width: 300px;
    height: 265px;
  }

  #create__appointment {
    width: 270px;
  }

  .appointment__info h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .appointment__info p {
    font-size: 8px;
    line-height: 22px;
  }

  .appointment__active {
    margin: 15px 21px 0 18px;
    flex-direction: column;
  }

  .appointment__name {
    margin-bottom: 10px;
    width: 190px;
    height: 25px;
    font-size: 15px;
  }
  .appointment__name img {
    height: 20px;
    width: 20px;
    top: 2px;
  }

  #user__name {
    width: 190px;
    height: 25px;
    font-size: 12px;
  }

  .appointment__phoneNum {
    margin-bottom: 10px;
    width: 190px;
    height: 25px;
    font-size: 15px;
  }
  .appointment__phoneNum img {
    height: 20px;
    width: 20px;
    top: 2px;
  }

  #user__phone {
    width: 190px;
    height: 25px;
    font-size: 12px;
    line-height: 27px;
  }

  #appointment__button__signUp {
    margin: 20px auto;
    width: 150px;
    height: 35px;
  }

  .block__photo {
    max-width: 750px;
  }
  .block__photo img {
    width: 20vw;
  }

  .footer__info {
    margin-left: 20px;
  }

  .footer__logo img {
    height: 70px;
  }

  .footer__logo__textBig {
    font-size: 24px;
    line-height: 45px;
  }

  .footer__logo__textSmall {
    font-size: 16px;
    line-height: 10px;
  }

  .footer__nav a {
    font-size: 18px;
    line-height: 27px;
  }

  .footer__lang {
    font-size: 20px;
  }
  .footer__lang a {
    font-size: 18px;
  }

  .footer__work__hours {
    margin-top: 82px;
    margin-left: 120px;
  }
  .footer__work__hours h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .footer__work__hours p {
    font-size: 16px;
    line-height: 24px;
  }

  .footer__contacts {
    margin-left: 0;
    margin-right: 60px;
  }
  .footer__contacts h2 {
    font-size: 28px;
  }
  .footer__contacts p {
    font-size: 18px;
  }

  .footer__phone {
    font-size: 16px;
    line-height: 25px;
  }
  .footer__phone::before {
    height: 24px;
    width: 24px;
  }
  .footer__phone:hover::after {
    content: "________________________________";
  }

  .footer__contacts__messangers {
    margin-top: 15px;
  }
  .footer__contacts__messangers img {
    height: 25px;
    width: 25px;
  }
  .footer__contacts__messangers a img {
    margin-right: 22px;
  }

  .footer__contacts__igNmail a {
    padding-left: 10px;
    font-size: 16px;
    line-height: 25px;
  }
  .footer__contacts__igNmail a:first-child:hover::after {
    content: "_______________";
    left: 10px;
  }
  .footer__contacts__igNmail a:last-child:hover::after {
    content: "_________________________________";
    left: 10px;
  }

  .footer__copyright {
    margin-top: 8px;
    font-size: 8px;
  }
  .footer__copyright img {
    height: 8px;
    width: 8px;
  }
}
@media screen and (max-width: 768px) {
  @keyframes burger__span__focus {
    0% {
      left: 0;
      width: 100%;
    }
    100% {
      left: 0;
      width: 0;
    }
  }
  @keyframes burger__spanBefore__focus {
    0% {
      top: -3px;
    }
    100% {
      transform: rotate(-45deg);
      top: 0;
      background-color: #46B1DE;
    }
  }
  @keyframes burger__spanAfter__focus {
    0% {
      top: 3px;
    }
    100% {
      transform: rotate(45deg);
      top: 0;
      background-color: #46B1DE;
    }
  }
  .burger {
    display: flex;
    justify-content: center;
    position: absolute;
    padding-top: 3px;
    top: 70px;
    right: 39px;
    height: 8px;
    width: 15px;
  }
  .burger span {
    position: absolute;
    height: 1px;
    width: 15px;
    background-color: #000000;
  }
  .burger span::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 15px;
    background-color: #000000;
    top: -3px;
    left: 0px;
  }
  .burger span::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 15px;
    background-color: #000000;
    top: 3px;
    left: 0px;
  }
  .burger:active span {
    animation-name: burger__span__focus;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  .burger:active span::before {
    animation-name: burger__spanBefore__focus;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
  .burger:active span::after {
    animation-name: burger__spanAfter__focus;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
}
@media screen and (max-width: 480px) {
  .service__box6, .service__box4, .service__box2, .service__box5, .service__box3, .service__box1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 130px;
    width: 300px;
  }

  @keyframes moving__info__box__title__up {
    0% {
      top: 156px;
      margin-bottom: 156px;
      height: 0;
      opacity: 0;
    }
    100% {
      top: 0;
      margin-bottom: 0;
      height: 126px;
      opacity: 1;
    }
  }
  @keyframes moving__info__box__about__up {
    0% {
      top: 146px;
      margin-bottom: 66px;
      height: 0;
      opacity: 0;
    }
    100% {
      top: 80px;
      margin-bottom: 0;
      height: 66px;
      opacity: 1;
    }
  }
  @keyframes moving__info__box__buttons__up {
    0% {
      top: 220px;
      height: 0;
      opacity: 0;
    }
    100% {
      top: 170px;
      height: 60px;
      opacity: 1;
    }
  }
  .margin {
    height: 20px;
  }

  .section__one {
    height: 545px;
    background-position: 90%;
  }

  .section__one__lady {
    height: 174px;
    width: 208px;
    right: 64px;
    bottom: 7px;
  }

  header {
    min-width: 320px;
    max-width: 460px;
    width: auto;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__logo {
    margin-left: 25px;
    margin-right: 0;
  }
  .header__logo img {
    height: 34px;
  }

  .header__logo__txtBig {
    width: 110px;
    font-size: 12px;
  }

  .header__logo__txtSmall {
    font-size: 10px;
  }

  nav {
    display: none;
  }

  .header__phone {
    margin-top: 0px;
  }
  .header__phone a {
    width: 150px;
    height: 19px;
    font-size: 10px;
    line-height: 19px;
    position: relative;
  }
  .header__phone a::before {
    top: 4px;
    left: 15px;
    width: 10px;
    height: 10px;
  }

  .header__lang__switch {
    display: none;
  }

  .info__box {
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 250px;
    display: flex;
    justify-content: center;
  }

  .info__box__title h2 {
    margin: 0 auto;
    font-size: 16px;
    line-height: 25px;
  }

  .info__box__about {
    margin: 5px auto 0;
    width: 290px;
    font-size: 10px;
    line-height: 22px;
  }

  .info__box__buttons {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
  }

  .info__box__button__call {
    width: 100px;
    height: 35px;
  }
  .info__box__button__call a {
    font-size: 14px;
  }

  .info__box__button__services {
    width: 100px;
    height: 35px;
  }
  .info__box__button__services a {
    font-size: 14px;
  }

  .section__one__cardsBlock {
    max-width: 280px;
    margin: 140px auto 0;
    flex-direction: column;
  }

  .section__one__card {
    margin-bottom: 80px;
    width: 280px;
    height: 120px;
    z-index: 2;
  }

  .section__one__card_txtBig {
    font-size: 65px;
    line-height: 76px;
  }

  .section__one__card_txtSmall {
    font-size: 14px;
    line-height: 16px;
  }

  .main__txt {
    margin: 650px 10px 150px;
  }
  .main__txt h2 {
    font-size: 24px;
    line-height: 34px;
  }
  .main__txt p {
    font-size: 12px;
    line-height: 22px;
  }

  .cards {
    margin: 50px auto 0;
    max-width: 320px;
  }

  .cards__blockS {
    margin: 18px auto 4px;
  }

  .cards__block {
    margin: 8px 0;
  }

  .main__providedServices {
    height: 300px;
    width: 320px;
  }
  .main__providedServices h2 {
    font-size: 20px;
    line-height: 44px;
  }

  #main__services__tooth {
    padding: 20px;
    height: 100px;
  }

  #main__services__plus1 {
    display: none;
  }

  #main__services__plus2 {
    display: none;
  }

  #main__services__plus3 {
    display: none;
  }

  #main__services__plus4 {
    display: none;
  }

  #main__services__plus5 {
    display: none;
  }

  #main__services__plus6 {
    display: none;
  }

  .main__providedServices__block {
    margin: 250px auto 0 auto;
    height: 700px;
    width: 320px;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__providedServices__block div {
    margin: 0 auto 40px;
    background: #97cadc;
    border-radius: 8px;
    border: solid transparent;
    box-shadow: 2px 5px 15px #b0bec6;
  }
  .main__providedServices__block h3 {
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .main__providedServices__block p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    text-align: start;
    padding-left: 10px;
  }

  @keyframes service__box1__anim {
    0% {
      height: 0%;
      opacity: 0;
    }
    100% {
      height: 100%;
      opacity: 1;
    }
  }
  @keyframes service__box3__anim {
    0% {
      height: 0%;
      opacity: 0;
    }
    100% {
      height: 100%;
      opacity: 1;
    }
  }
  @keyframes service__box5__anim {
    0% {
      height: 0%;
      opacity: 0;
    }
    100% {
      height: 100%;
      opacity: 1;
    }
  }
  @keyframes service__box2__anim {
    0% {
      height: 0%;
      opacity: 0;
    }
    100% {
      height: 100%;
      opacity: 1;
    }
  }
  @keyframes service__box4__anim {
    0% {
      height: 0%;
      opacity: 0;
    }
    100% {
      height: 100%;
      opacity: 1;
    }
  }
  @keyframes service__box6__anim {
    0% {
      height: 0%;
      opacity: 0;
    }
    100% {
      height: 100%;
      opacity: 1;
    }
  }
  .service__box1 {
    transform: translate(0);
    animation-duration: 2s;
    animation-delay: 5s;
  }

  .service__box3 {
    animation-duration: 2s;
    animation-delay: 6s;
  }

  .service__box5 {
    transform: translate(0);
    animation-duration: 2s;
    animation-delay: 7s;
  }

  .service__box2 {
    transform: translate(0);
    animation-duration: 2s;
    animation-delay: 5.5s;
  }

  .service__box4 {
    animation-duration: 2s;
    animation-delay: 6.5s;
  }

  .service__box6 {
    transform: translate(0px);
    animation-duration: 2s;
    animation-delay: 7.5s;
  }

  .service__img {
    display: none;
  }

  .main__attention {
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 950px auto 0;
  }
  .main__attention img {
    height: 73px;
    width: 75px;
  }
  .main__attention p {
    margin-top: 5px;
    margin-left: 16px;
    font-size: 12px;
    line-height: 28px;
  }

  .block__photo {
    margin: 80px auto 0px;
    max-width: 320px;
  }
  .block__photo img {
    width: 80px;
    margin: 0 10px;
  }

  footer {
    margin-top: 91px;
    height: 635px;
    flex-direction: column;
  }

  .footer__info {
    margin-left: 10px;
    margin-top: 30px;
    max-width: 300px;
  }

  .footer__logo img {
    height: 55px;
  }

  .footer__logo__textBig {
    font-size: 27px;
    line-height: 38px;
  }

  .footer__logo__textSmall {
    font-size: 19px;
    line-height: 10px;
  }

  .footer__info__block {
    width: 300px;
  }

  .footer__nav {
    margin: 30px 10px 0 3px;
    width: 65px;
  }
  .footer__nav a {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
  }

  .footer__lang {
    min-width: 55px;
    margin-top: 5px;
    font-size: 16px;
  }
  .footer__lang a {
    font-size: 14px;
    line-height: 16px;
  }

  .footer__work__hours {
    margin-top: 67px;
    margin-left: 100px;
  }
  .footer__work__hours h3 {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .footer__work__hours p {
    margin-top: 7px;
    font-size: 14px;
    line-height: 19px;
  }

  .footer__contacts {
    width: auto;
    max-width: 480px;
    margin-left: 40px;
    margin-right: 20px;
  }
  .footer__contacts h2 {
    margin-left: 5px;
    font-size: 21px;
    line-height: 24px;
  }
  .footer__contacts p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 27px;
  }

  .footer__contacts__messangers {
    margin-top: 15px;
    width: 100px;
  }
  .footer__contacts__messangers img {
    height: 25px;
    width: 25px;
  }

  .footer__copyright {
    width: auto;
    text-align: end;
    margin-top: 12px;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 11px;
    line-height: 14px;
  }
}